.link a{
    padding: 2px;
    text-decoration: underline;
    text-transform: none;
    font-weight: 600;
    color: #00ffc8;
}

.form-control {
    margin: 2px;
}
.btn {
    margin: 2px;
}
.link:hover a{
    text-decoration: underline;
    text-transform: none;
    font-weight: 700;
    color: #4bfad4;
}
.space-padding{
    padding: 5px 0px;
}
.button{
    padding: 15px 80px;
}
.flex{
    display: flex;
}