.link a{
    padding: 2px;
    text-decoration: underline;
    text-transform: none;
    font-weight: 600;
    color: #00ffc8;
}

.form-control {
    margin: 2px;
}
.btn {
    margin: 2px;
}
.link:hover a{
    text-decoration: underline;
    text-transform: none;
    font-weight: 700;
    color: #4bfad4;
}
.space-padding{
    padding: 5px 0px;
}
.button{
    padding: 15px 80px;
}
.flex{
    display: flex;
}

.verylightblue_theme {
    background-color: rgb(176, 255, 255);
 }
 
 .verylightgreen_theme {
    background-color: #b0ffd1;
 }
 
 
 .verylightgreen_theme:hover {
    background-color: #bbfad5;
 }
 .size_img_w{
    width: 250px;
 }

 /* dark: {
    black_01: '#000000',
    black_02: '#0d0d0d',
    black_03: '#141414',
    black_04: '#0B0F18',
    Azul_01: '#07CCF8',
    Azul_02: '#00d0ff75',
    Cinza_01: '#717171',
    white_01: '#fff',
  }, */

 .menu_color_dark {
    background-color: #141414;
 }

 .card {
    background-color: #141414;
    color: #07CCF8;
 }

 .card-body {
    background-color: #141414 !important;
    color: #07CCF8 !important;
 }

 .form-control{
    background-color: #141414;
    color: #07CCF8;
    border-color: #141414;
 }

 input[type="button"] {
    background-color: #1d1d1d !important;
 }

 textarea{
    border-color: #1d1d1d !important;
    color: #07CCF8 !important;
    background-color: #1d1d1d !important;
 }
 .card-header {
    background-color: #1d1d1d;
    color: #07CCF8;
 }

 .back_color_dark {
    background-color: #000000;
 }

 .backcolor_elements {
    background-color: #07CCF8;
 }

 .menu_options_bar_dark{
    padding: 10px;
    border-radius: 10px;
    background-color: #1d1d1d;
 }

 label{
    color: #07CCF8;
 }

 input{
    border-color: #1d1d1d !important;
    color: #07CCF8 !important;
    background-color: #1d1d1d !important;
 }

 .h1 {
    color: #07CCF8 !important;
 }


 p {
    color: #07CCF8 !important;
 }


 .color_elements {
    color: #07CCF8 !important;
    text-decoration: none;
 }

 .border_dark{
    border-color: #07CCF8;
 }

 .border_black_dark{
    border-color: #252525;
    border-radius: 10px;
 }

 .border_dark:hover{
    background-color: #3cdafd !important;
    color: #252525 !important;
 }


 .btn-success{
    border: 1px solid #3cdafd !important;
    background-color: #3cdafd;
    color: #252525;
 }

 .btn-success:hover{
    border: 1px solid #5ee0fd !important;
    background-color: #71dff8;
    color: #000000;
 }
 .btn-danger{
    background-color: #0a0a0a !important;
    color: #e70d0d !important;
    border-color: #e70d0d !important;
 }

 .btn-warning{
    background-color: #0a0a0a !important;
    color: #f57105 !important;
    border-color: #f57105 !important;
 }
 .btn-danger:hover{
    background-color: #e70d0d !important;
    color: #131212 !important;
 }

 .btn-warning:hover{
    background-color: #f57105 !important;
    color: #131212 !important;
 }
