<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-2">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=7.0">
    <title>{% block title %}{% endblock %}</title>
    <!-- CSS only -->
    <link href="{{ url_for('static', filename='bootstrap.css') }}" rel="stylesheet" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.icon.css') }}">

    {% block styles %}{% endblock %}
</head>

<body class="back_color_dark">
    <header>
        <nav class="navbar navbar-expand-lg menu_color_dark">
            <div class="container-fluid ">
                <a class="navbar-brand color_elements menu_options_bar_dark" href="#">OpenHelp
                    <img style="width: 57px; height: 55px;" src="{{ url_for('static', filename='logo.png') }}" alt=""
                        srcset=""></a>


                <div class="d-flex">

                    {% if current_user.is_authenticated %}
                    <div>
                        <a class="text-primary px-2 color_elements menu_options_bar_dark border_dark" href="/clients">Mensagens dos passageiros</a>
                        <a class="text-primary px-2 color_elements menu_options_bar_dark border_dark" href="/warnings">Area de avisos</a>
                        <a class="text-primary px-2 color_elements menu_options_bar_dark border_dark" href="/profile">Acessar Perfil</a>
                        <a class="btn btn-primary color_elements menu_options_bar_dark border_dark" href="/logout">Logout do sistema</a>
                    </div>
                    {% else %}
                    <a class="btn btn-primary color_elements menu_options_bar_dark border_dark" href="/register">Registrar Empresa</a>
                    <a class="btn btn-primary color_elements menu_options_bar_dark border_dark" href="/login">Logar Empresa</a>
                    {% endif %}

                    </form>
                </div>
        </nav>
    </header>
    <main>
        {% block main %}
        {% endblock %}
    </main>
    <script src="{{ url_for('static', filename='bootstrap.js') }}"></script>
</body>

</html>
