{% extends 'base.html' %}

{% block main %}
<div class="container-fluid">

    <div>
        <h1 class="h1">Qual Área da Ouvidoria deseja acessar?</h1>
    </div>
    <hr class="text-dark">
    <div class="container-fluid d-flex flex-row justify-content-center flex-wrap">
        <div class="container d-flex flex-row justify-content-center flex-wrap">
            <div class="card w-25 mx-2 my-2">
                <div class="card-header">
                    Avisos
                </div>
                <div class="card-body">
                    <<-Foto Aviso->>
                </div>
            </div>
            <div class="card w-25 mx-2 my-2">
                <div class="card-header">
                    Usuarios de Onibus (Ouvidoria)
                </div>
                <div class="card-body">
                    <i class="bi bi-megaphone"></i>
                </div>
            </div>
            <div class="card w-25 mx-2 my-2">
                <div class="card-header">
                    Usuarios de Onibus (Ouvidoria)
                </div>
                <div class="card-body">
                    <i class="bi bi-people"></i>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}