{% extends 'base.html' %} {% block main %}

<div class="container-fluid">
  <div
    class="d-flex flex-row mb-2 justify-content-center display-1 align-items-center"
  >
    <h1 class="mx-2 h1 my-3" style="color: #83f7ff7a">Chat com passageiro</h1>
  </div>
  {% for speech in speeches %} {% if speech.message.who.upper() == "CLI" %}
  <div class="container my-2 mr-2">
    <div
      class="d-flex justify-content-around align-items-center pt-3 verylightblue_theme"
    >
      <div class="d-flex flex-row">
        <span>Usuario {{speech.follow.client.username}}</span>
      </div>
      <span
        >{{speech.message.date_time}} <i class="bi bi-clock-history"></i
      ></span>
    </div>
    <div
      class="container py-2 d-flex flex-column text-dark d-flex flex-row verylightblue_theme"
    >
      {{speech.message.content}}
    </div>
  </div>

  <!--NEXT-->
  {% else %}
  <div class="container my-1 ml-2">
    <div
      class="d-flex justify-content-around align-items-center pt-3 verylightgreen_theme"
    >
      <div class="d-flex flex-row">
        <span>Usuario {{speech.follow.company.company_name}}</span>
      </div>
      <span
        >{{speech.message.date_time}} <i class="bi bi-clock-history"></i
      ></span>
    </div>
    <div
      class="container py-2 d-flex flex-column text-dark d-flex flex-row py-4 verylightgreen_theme"
    >
      {{speech.message.content}}
    </div>
  </div>
  {% endif %} {% endfor %}

  <div class="card my-2 mx-2">
    <div class="card-header">Escreva e seja ouvido pelo OpenHelp</div>
    <form
      class="form-control my-2"
      action="/message/create/{{follow_id}}"
      method="POST"
    >
      <label for="">Mensagens: </label>
      <p class="my-2">
        Suas mensagens ficam Verde<canvas
          style="
            margin-left: 4px;
            width: 20px;
            height: 20px;
            background-color: rgb(176, 255, 209);
          "
        ></canvas
        ><br />
        As mensagens dos clientes estão de Azul<canvas
          style="
            margin-left: 4px;
            width: 20px;
            height: 20px;
            background-color: rgb(176, 255, 255);
          "
        ></canvas
        ><br />
      </p>
      <textarea
        class="form-control my-3"
        name="message"
        placeholder="Qualquer mensagem que escreva aqui está sobre apenas responsabilidade do remetente  e destinatário"
      ></textarea>

      <div class="d-flex flex-row justify-content-end">
        <button class="btn btn-success px-4 py-3" type="submit">
          <i class="bi bi-send"></i> Enviar
        </button>
      </div>
    </form>
  </div>

  <!--NEXT-->
</div>

{% endblock %}
