{% extends 'base.html' %}
{% block main %}
<div class="container">
    <div class="row">
        <div class="col mx-1 rounded-3">
            <div class="container">
                <img class="img-fluid w-50 py-2" src="/company/profile" alt="" srcset="">
            </div>
            <div>
                <a class="btn btn-warning text-light my-1 py-2" href="/update">Atualizar Conta</a>
            </div>
            <div>
                <a class="btn btn-danger text-light px-3 my-1 py-2" href="/delete"
                    onclick="return confirm('Deseja deletar sua conta realmente?')">Deletar Conta</a>
            </div>
        </div>
        <div class="col mx-1 my-3 rounded-3">
            <p class="p-2 my-1">O seu nome fantasia é <span class="text-bold">{{ current_user.company_name }}</span></p>
            <p class="p-2 my-1">Seu Email é {{ current_user.email }}</p>
            <p class="p-2 my-1">Sua cidade é {{ current_user.city }}</p>
            <p class="p-2 my-1">Seu estado é {{ current_user.state }}</p>
        </div>
    </div>
</div>
{% endblock %}